@import '_mixin-reset.scss';
@include reset;
html,
body {
  -webkit-overflow-scrolling: touch;
}
.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.container {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.arr-left {
  content: " ";
  display: inline-block;
  height: 12px;
  width: 12px;
  border-width: 2px 2px 0 0;
  border-color: #000;
  border-style: solid;
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left:30px;
  -webkit-transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
  transform: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
}
